html,
body {
  background: #f7f7f7;
  color: #555;
  font-size: 14px;
  height: 100%; }

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .loadingContainer .loading {
    max-width: 50%;
    padding: 15px;
    background: #FCC829;
    border-radius: 6px;
    color: #fff;
    font-size: 18px; }
    .loadingContainer .loading span {
      float: right;
      line-height: 60px; }
