.app-with-sidebar-container {
  position: relative;
  height: 100%;
  overflow: auto;
  padding: 0; }
  .app-with-sidebar-container .app-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 9;
    background: #eaeaea; }
    .app-with-sidebar-container .app-sidebar ul {
      list-style: none;
      padding: 0; }
      .app-with-sidebar-container .app-sidebar ul li a {
        display: block;
        padding: 5px;
        margin: 10px 0;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        color: #999999; }
        .app-with-sidebar-container .app-sidebar ul li a:hover, .app-with-sidebar-container .app-sidebar ul li a.active {
          color: #00D3FF; }
      .app-with-sidebar-container .app-sidebar ul li.subscribe {
        position: absolute;
        bottom: 25px;
        width: 100%; }
  .app-with-sidebar-container .app-main-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative; }
