.mappingContainer {
  position: relative;
  height: 100%; }
  .mappingContainer .mappingWrapper {
    height: 100%;
    position: relative;
    padding-left: 250px;
    background: #fff; }
    .mappingContainer .mappingWrapper .btn-add-field-container {
      position: absolute;
      left: 265px;
      border: 15px;
      bottom: 15px; }
    .mappingContainer .mappingWrapper .typesContainer {
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px;
      width: 250px;
      height: 100%;
      overflow: auto;
      border-right: 1px solid #eaeaea;
      background: #f7f7f7; }
      .mappingContainer .mappingWrapper .typesContainer .title {
        margin: 0;
        padding-bottom: 10px; }
      .mappingContainer .mappingWrapper .typesContainer ul {
        list-style: none;
        padding: 0; }
        .mappingContainer .mappingWrapper .typesContainer ul li {
          display: block; }
    .mappingContainer .mappingWrapper .FieldContainer {
      padding: 15px;
      position: relative;
      overflow: auto;
      max-height: 100%; }
      .mappingContainer .mappingWrapper .FieldContainer .singleProperty {
        margin-bottom: 15px;
        border: 1px solid #eaeaea;
        padding: 0; }
        .mappingContainer .mappingWrapper .FieldContainer .singleProperty .title {
          background: #f7f7f7;
          border-bottom: 1px solid #eaeaea;
          font-size: 16px;
          margin: 0;
          padding: 15px; }
          .mappingContainer .mappingWrapper .FieldContainer .singleProperty .title .datatype {
            color: #828282;
            margin-left: 15px;
            padding: 5px;
            border: 1px solid #dedede; }
        .mappingContainer .mappingWrapper .FieldContainer .singleProperty .fieldContent {
          margin: 0; }
          .mappingContainer .mappingWrapper .FieldContainer .singleProperty .fieldContent .internalField {
            padding: 10px 105px 10px 0; }
            .mappingContainer .mappingWrapper .FieldContainer .singleProperty .fieldContent .internalField .operationalBtns {
              position: absolute;
              right: 0; }
              .mappingContainer .mappingWrapper .FieldContainer .singleProperty .fieldContent .internalField .operationalBtns a {
                margin-right: 5px; }
          .mappingContainer .mappingWrapper .FieldContainer .singleProperty .fieldContent .nestedField {
            padding: 0;
            padding-left: 15px; }
