@import "variables.scss";
.loading {
	height: 100%;
	width: 100%;
	display: table;
	background: rgba($bg, 0.9);
	position: fixed;
	z-index: 4;
	.vertical-cell {
		height: 100%;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
	}
}
.header {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: $grey-bg;
    border-bottom: 0;
    padding: 6px;
    max-height: 40px;
    margin: 0 auto;
    .header-container {
    	display: inline-block;
		.header-title {
			color: $primary-color;
			font-size: 22px;
			padding: 5px;
		    left: 10px;
		    letter-spacing: 2px;
		}
		.tag-line {
			padding-left: 15px;
			line-height: 30px;
			font-size: 20px;
		}
    }
}
#gem-container {
	position: relative;
	height: 100%;
	.appContainer {
		position: relative;
		height: 100%;
	}	
	.app-container {
		position: relative;
		padding: 0;
		padding-top: 91px;
		padding-bottom: 35px;
		height: 100%;
		overflow: auto;
		@media screen and (max-width: 768px) {
			padding-top: 86px;
		}
	}
}
