@import "variables.scss";
html,
body {
	background: $bg;
	color: $primary-font-color;
	font-size: 14px;
	height: 100%;
}
.loadingContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	.loading {
		max-width: 50%;
		padding: 15px;
		background: $primary-color;
		border-radius: 6px;
		color: #fff;
		font-size: 18px;
		span {
			float: right;
    		line-height: 60px;
		}
	}
}
