@import "variables.scss";
.app-with-sidebar-container {
	position: relative;
    height: 100%;
    overflow: auto;
    padding: 0;
    padding-left: 80px;
	.app-sidebar {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 80px;
		background: $dark-bg;
		ul {
			list-style: none;
			padding: 0;
			li {
				a {
					display: block;
				    padding: 15px;
				    font-size: 30px;
				    line-height: 48px;
				    text-align: center;
    				text-decoration: none;
    				color: $primary-font-color;
    				&:hover {
    					color: $link-color;
    				}
				}
			}
		}
	}
	.app-main-container {
		width: 100%;
		height: 100%;
		overflow: auto;
		position: relative;
	}
}