@import "variables.scss";
.editableContainer {
	padding: 0;
	.frontEditable {
		display: block;
	}
	.backEditable {
		display: none;
	}
	&.on {
		.frontEditable {
			display: none;
		}
		.backEditable {
			display: block;
			@media screen and (min-width: 768px) {
				.form-group {
					margin-bottom: 0;
				}	
			}
		}	
	}
}