@import "variables.scss";
.init-ES,
footer {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	z-index: 6;
	background: $grey-bg;
	padding: 5px;
	padding-left: 300px;
	padding-right: 130px;
	border-bottom: 1px solid darken($grey-bg, 10%);
	.action-btns {
		position: absolute;
		left: 15px;
		display: inline-block;
		.action-btn {
			margin-right: 5px;
		}
	}
	.submit-btn {
		position: absolute;
		right: 15px;
		width: 125px;
	}
}
.app-login-container {
	.init-ES {
		top: 0;
		padding: 15px 150px 15px 68px;
		border: 0;
		input {
			background: $dark-bg;
			border-radius: 0;
			border: 0;
		}
	}	
	@media screen and (max-width: 768px) {
		.init-ES {
			top: 0;
			padding: 15px 150px 15px 15px;
			.esContainer {
				.form-group {
					padding-left: 0;
				}
			}
		}
		.action-btns-xs {
			margin-top: 5px;
			.action-btn {
				margin-right: 5px;
			}
		}
	}
}
.share_content {
	.share_content {
		display: none;
	}
}
.url-container {
	position: relative;
	.hide-url {
		position: absolute;
		width: auto;
		right: 0;
		top: 0;
		z-index: 2;
		height: 100%;
		display: block;
		text-align: right;
		border-radius: 4px;
		background: $dark-bg;
		&.expand {
			width: 100%;
		}
	}
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background: $grey-bg;
	border-bottom: 0;
	padding: 0;
	max-height: 100px;
	margin: 0 auto;
	position: absolute;
    height: auto;
    background: #fff;
    border-bottom: 2px solid #ccc;
	.img-container {
		margin-top: 10px;
		margin-bottom: 10px;
		img {
			max-width: 100px;
			margin: 0 auto;
		}
	}
	.tag-line {
		line-height: 22px;
		font-size: 20px;
		margin-bottom: 10px;
		font-weight: lighter;
	}
	@media screen and (max-width: 768px) {
		.tag-line {
			line-height: 16px;
			font-size: 14px;
		}
	}
	@media screen and (max-width: 500px) { 
		.header-container {
			height: 30px;
			.tag-line {
				display: none;
			}
		}
	}
}
footer {
	position: absolute;
	bottom: 0;
	top: auto;
	padding-right: 5px;
	border-top: 1px solid #ddd;
	border-bottom: 0;
	z-index: 99999999;
	height: 36px;
	padding-left: 5px;
	.powered_by {
		position: absolute;
		right: 5px;
	}
	.github-star {
		position: absolute;
		left: 5px;
	}
	@media screen and (max-width: 768px) {
		height: 36px;
		.powered_by, .github-star, .footer-center  {
			font-size: 11px;
			line-height: 23px;
		}
		.footer-center
		{
			position: relative;
		    display: block;
		    width: 100%;
		}
	}
}
