@import "variables.scss";
#importModal {
	.modal-dialog {
		width: 90%;
		height: calc(90% - 40px);
		.modal-content {
			height: 100%;
			.modal-body {
				height: calc(100% - 90px);
				#ImportContainer {
					overflow: inherit;
					.import-bottom {
						position: absolute;
					    bottom: -78px;
					}
					.ImportResult {
						.import-bottom {
							right: 0;
						}
					}
					.JsonImport {
						.import-bottom {
							left: 0;
							bottom: -66px;
						}
					}
				}
			}
		}
	}
}
.importBtn {
	position: fixed;
	left: 30px;
    bottom: 65px;
    width: 220px;
}
#ImportContainer {
	margin: 0;
	height: 100%;
	overflow: auto;
	padding: 15px;
	.JsonImport, .ImportResult {
		height: 100%;
		padding-top: 67px;
		position: relative;
		padding-left: 0;
		padding-right: 0;
		border: 1px solid darken($bg, 5%); 
		.ReactCodeMirror {
			height: 100%;
			.CodeMirror {
				height: 100%;
			}
		}
		.json-header {
			position: absolute;
			padding: 15px;
			width: 100%;
			top: 0;
			left: 0;
			border-bottom: 1px solid darken($bg, 5%);
			background: $bg;
			.title {
				margin: 0;
				padding-bottom: 10px;
				float: left;
			    width: 100%;
			    height: 36px;
				.extra-options {
					font-size: 14px;
					padding-right: 0;
					.select2-container {
						min-width: 200px;
						float: right;
					}
				}
				@media screen and (max-width: 768px) { 
					font-size: 18px;
					.extra-options {
						.select2-container {
							min-width: 150px !important;
							width: 150px !important;
						}
					}
				}
			}
			&.success {
				background: rgba(82,199,130,.2);
			}
			&.error {
				background: rgba(226,91,25,.2);
			}
		}
	}
	.JsonImport {
		border-right: 0; 
		.CodeMirror-empty { 
			outline: 1px solid #c22; 
		}
		.CodeMirror-empty.CodeMirror-focused { 
			outline: none; 
		}
		.CodeMirror pre.CodeMirror-placeholder { 
			color: #999; 
		}
		.importType {
			font-size: 14px;
			padding-left: 0;
			.single-option {
				padding-bottom: 5px;
				input[type=radio] {
					margin-top: 2px;
				}
			}
		}
		.extra-options {
			padding-right: 0;
		}
	}
	@media screen and (max-width: 768px) {
		.ImportResult {
			margin-top: 15px;
		}	
		.JsonImport {
			border-right: 1px solid darken($bg, 5%); 
		}			
	}
}