@import "variables.scss";
.mappingContainer.mappingView {
	.mappingWrapper { 
		padding-left: 0;
		.view-title {
			position: absolute;
		    margin: 0;
		    width: 100%;
		    padding: 15px;
		    z-index: 2;
		}
		#ImportContainer {
			margin: 0;
		    height: 100%;
		    overflow: auto;
		    padding: 15px;
		    position: relative;
		    padding-top: 56px;
		    padding-bottom: 56px;
		}
		#importModal {
			height: 100%;
		}
	}
	.btn-operational {
		left: inherit;
	   	right: 160px;
	}
}