@import "variables.scss";
.mappingContainer {
	position: relative;
	height: 100%;
	#gem-tabs {
		height: 100%;
	    position: relative;
	    padding-top: 42px;
	    .nav-tabs {
	    	position: absolute;
		    left: 0;
		    width: 100%;
		    top: 0;
	    }
	    .tab-content {
	    	height: 100%;
			> div {
				height: 100%;
			}
	    }
	}
	.mappingWrapper {
		height: 100%;
		position: relative;
		padding-left: 250px;
		background: #fff;
		.btn-add-field-container {
			position: absolute;
		    left: 265px;
		    border: 15px;
		    bottom: 15px;
			.btn-add-field {
			}
		}
		.import-btn {
			position: absolute;
		    left: 395px;
		    border: 15px;
		    bottom: 15px;	
		}
		.back-btn {
			position: absolute;
		    left: 340px;
		    border: 15px;
		    bottom: 15px;	
		}
		.typesContainer {
			position: absolute;
			top: 0;
			left: 0;
			padding: 15px;
			width: 250px;
			height: 100%;
			overflow: auto;
			border-right: 1px solid darken($bg, 5%);
			background: $bg;
			.title {
				margin: 0;
				padding-bottom: 10px;
			}
			ul {
				list-style: none;
				padding: 0;
				li {
					display: block;
				}
			}
		}
		.FieldContainer {
			padding: 15px;
			position: relative;
			overflow: auto;
    		max-height: 100%;
			.singleProperty {
				margin-bottom: 15px;
				border: 1px solid darken($bg, 5%);
				padding: 0;
				.title {
					background: $bg;
					border-bottom: 1px solid darken($bg, 5%);
					font-size: 16px;
					margin: 0;
					padding: 15px;
					position: relative;
					padding-right: 51px;
					.edit-btn {
						position: absolute;
						right: 15px;
						top: 15px;
					}
					.fieldName, .fieldIndex {
						padding: 0;
					}
					.datatype {
						color: $grey-font;
						margin-left: 15px;
						padding: 5px;
						border: 1px solid darken($bg, 10%);
					}
					.typeName {
						font-weight: bold;
					}
				}
				.fieldContent {
					margin: 0;
					.internalField {
						padding: 10px 70px 10px 15px;
						.fieldName, .fieldIndex {
							padding: 0;
						}
						.operationalBtns {
							position: absolute;
							right: 0;
							a {
								margin-right: 5px
							}
						}
					}
					.nestedField {
						padding: 0;
						padding-left: 15px;
						.singleProperty:first-child {
							margin-top: 15px;
						}
					}
				}
			}
		}
	}
	&.importView {
		.mappingWrapper {
			padding-left: 0;
		}
	}
}