@import "variables.scss";
.jsonPopover {
    max-width: 250px;
    min-width: 250px;
    pre {
        padding: 0;
        margin: 0;
        border: 0;
    }
    .popover-content {
        padding: 0;
        -webkit-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }
    .arrow:after {
        border-left-color: #f0f0f0 !important;
    }
}

.share_content {
    .share_part:first-child {
        .title {
            margin-top: 0;
        }
    }
}
